.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    input {
        width: 177px;
    }

    select {
        width: 224px;
        font-size: 16px;
        padding: 6px;
        border: 1px solid #cccccc;
        background: #ededed;
        font-weight: normal;
        color: #2b2b2b;
    }

    .address-insert {
        display: flex;
        flex-direction: column;
    }

    fieldset {
        width: 350px;
    }
}